body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#invoiceTotal {
    font-size: 22px;
    font-weight: bold;
    float: right;
    padding: 20px;
}